<style>
    .avatar 
    {
    vertical-align: middle;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    margin:auto !important;
    margin-top:5%
    }
    body{
        background-color: rgb(0, 0, 0);
        text-align: center;
    }

    .history-section h1{
        padding: 1vw;
    }
    .container-profile
    {
        display: flex;
        padding-left: 13%;
        margin-top:auto !important;
        
    }
    .profile-section
    {
        background-color: rgb(0, 0, 0);
        height: 30vw;
        width: 30%;
        color: white;
    }
    .history-section
    {
        width: 70%;
        border-style: solid;
        border-color: lightgrey;
        text-align: center;
    }
    .login 
    {
        text-align: center;
        color: #e7e30c;
    }
    .login:hover
    {
    text-decoration: none;
    color: white;
    background-color: transparent;
    }
    .link-functions
    {
        text-align: center;
    }
    .logout
    {
        background-color: rgb(0, 0, 0);
        padding: 0.4vw;
        color: #e7e30c;
    }
    /* .header
    {
        margin-top:5%
    } */
    .logout:hover
    {
        background-color: rgb(0, 0, 0);
        padding: 0.4vw;
        color: white;
    }

    .user-info{
        margin-left: 5%;
        
    }
    .header h1 {
    text-align: center;
     margin: 1vw
    }
    .container-profile{
        margin-left: 20%;
       
    }

    .profile-section{
        margin-left: 10%;
    }


</style>
<div class="menu">
    <div class="logo">
        <a href="/"><img src="../../imgs/Jamiyah.png" alt="jamiyah logo"></a>
    </div>
    <div class="nav">
        <nav class="icons">
            <a href="/jamiyah/home"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a href="/jamiyah/create"><i class="fa fa-plus" aria-hidden="true"></i></a>
            <a href="/user/profile"><i class="fa fa-user" aria-hidden="true"></i></a>
        </nav>
    </div>
</div>


<div class="body">
    <div class="header">
        <h1 class="highlight"> <%= currentUser.name  %> Profile</h1>
       
    </div>

    <img src="<%=  currentUser.profileImage%>" alt="Avatar" class="avatar">
    <div class="container-profile">
        <div class="profile-section">
           
            <div class="signup-form">
                <form action="/user/profile" method="post" class="user-info">
                    <div class="form-group">
                        <label class="boldboy">Name</label>
                        <input type="text" name="name" value="<%= currentUser.name %>" class="form-control" placeholder="Name">
                     </div>
                   <div class="form-group">
                      <label class="boldboy">Email Address</label>
                      <input type="email" name="email" value="<%= currentUser.email %>" class="form-control" placeholder="Email">
                   </div>
                   <div class="form-group">
                      <label class="boldboy">Phone</label>
                      <input type="text" name="phone" value="<%= currentUser.phone %>" class="form-control" placeholder="Phone">
                   </div>
                   <div>
                    <input type="hidden" value="<%= currentUser._id %>" name="id">
                   </div>
                   <div class="link-functions">
                    <a class="login" href="/account/details">Balance</a>
                    <input type="submit" value="Update" class="login">
                    <a class="login" href="/jamiyah/history">History</a>
                    <a class="login logout" href="/auth/signout">Logout</a>
                   </div>
                </form>
             </div>
        </div>
    </div>
</div>

<div class="footer">
    <h5>©GA, Jamiyah. 2023. </h5>
</div>

