<!-- <h1><% /*Jamiyah.name*/ %></h1>

<h2>The Duration is <%= /*Jamiyah.duration*/ %></h2>

<h3>The Amount is <%= /*jamiyah.amount*/ %></h3> -->

<div class="menu">
    <div class="logo">
        <img src="../../imgs/Jamiyah.png" alt="jamiyah logo">
    </div>
    <div class="nav">
        <nav class="">
            <a href="/jamiyah/home" class="selected">Home</a>
            <a href="/jamiyah/create" >Add</a>
            <a href="/user/profile" >Profile</a>
        </nav>
    </div>
</div>
<div>
    <h1>Jamiyah Details</h1>
    <label>Name: <%= jamiyah.name%> </label>
</div>

<div>
    <label>Description: <%= jamiyah.description%> </label>
</div>

<div>
    <label>Duration: <%= jamiyah.duration%></label>

</div>

<div>
    <label>Monthly contribution: <%= jamiyah.monthlyContribution%></label>
</div>

<div>
    <label>Participants</label>
    <ul name = "participants" multiple>
        <% jamiyah.participants.forEach(a => {%>
        <% users.forEach(b => {%>
        <% if(a.equals(b._id)) { %>
        <li value="<%= b._id %>">
        <%= b.email %> </li>
        <%}}) %>
        <%}) %>
        </ul>
</div>

<td>
    <form method="POST" action="/jamiyah/delete?id=<%= jamiyah._id%>">
        <button type="submit">DELETE</button>
    </form>
</td>
<div class="footer">
    <h5>©GA, Jamiyah. 2023. </h5>
</div>
